.banner-container{
    background-color: #049FD9;
    overflow: auto;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.banner{
    display: inline-block;
    box-sizing: border-box;
    color: #FFF;
    font-weight: bold;
    margin-left: 1em;
}

.banner-logo{
    display: inline-block;
    height: 50px;
}